@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'nunito';
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #76797b;
    color: #ffffff;
}


.octave-container {
    display: flex;
    flex-direction: column;
}

.octave-button {
    border-radius: 50%;
    padding: 6px;
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.octave-button-container {
    display: flex;
    gap: 4px;
}

.container {
    max-width: 1200px;
    border-radius: 16px;
    padding: 10px 20px;
    background-color: black;
}

.piano-keys {
    display: flex;
}

.piano-keys .key {
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: #a2a2a2;
    position: relative;
    text-transform: uppercase;
}

.piano-keys .white {
    width: 70px;
    height: 230px;
    border: 1px solid black;
    border-radius: 8px;
    background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys .black {
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
}

.piano-keys span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.piano-keys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom #fff 0%, #eee 100%);
}

.piano-keys .black.active {
    box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom #000, #434343);
}